#wrapper{
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  position: relative;
  top: -80px;
}
header{
 width: auto;
 height: 100px;
 background-color: black;
 position: fixed;
 top: 0px;
 right: 0px;
 left: 0px;
 bottom: 0px;
 z-index: 1;
}
.title{
  text-decoration: none;
  font-family: 'Lemonada', cursive;
  color: white;
  display: inline-block;
  position: relative;
  margin-left: 25px;
}
header>p, .label{
  text-decoration: none;
  color: white;
  font-family: 'Kanit', sans-serif;
  width: auto;
  font-size: 30px;
  margin-left: 20px;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-top: 35px;
  float: right;
  text-align: center;
}
.label{
  margin-top: 5px;
}
.messages{
  color: red;
}
.account{
  color: red;
  float: right;
  position: fixed;
  top: 80px;
}
