header{
 width: auto;
 height: 100px;
 background-color: black;
 position: fixed;
 top: 0px;
 right: 0px;
 left: 0px;
 bottom: 0px;
 z-index: 1;
}
header>h1{
  font-family: 'Lemonada', cursive;
  color: white;
  display: inline-block;
  position: relative;
  margin-left: 25px;
}
#register{
  display: inline-block;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  position: relative;
  top: 100px;
}
#login{
  display: inline-block;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  padding: 20px 20px 20px 20px;
  position: relative;
  top: 100px;
}
