<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
	<link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'commerce/css/index.css' %}" media="screen" title="no title"  charset="utf-8">
  <title>Document</title>
</head>
<body>
  <header>
		<h1>The Silk Road</h1>
    <a href="/logout"><p>Logout</p></a>
    <a href="/user/account"><p>Account</p></a>
    <p>Hello, {{request.session.first_name}} {{request.session.last_name}}</p>
	</header>
	<div id="wrapper">
  	<div class="messages">
  			{%if messages%}
  				{%for message in messages%}
  					<p>{{message}}</p>
  				{%endfor%}
  			{%endif%}
  	</div>
    <h3 align='center'>Add a Product</h3>
    <form class="addproduct" action="verifyproduct" method="post" align='center'>
      {% csrf_token %}
      <input type="text" name="product_name" placeholder="Add Product Name." size=30><br><br>
      <input type="text" name="price" placeholder="Add Price." size=30><br><br>
      <input type="text" name="weight" placeholder="Add Weight in Pounds." size=30>lb.<br><br>
      <textarea name="description" placeholder="Add Description." rows="8" cols="80"></textarea>
      <input type="submit" name="addproduct" value="Add Product"><br><br>
    </form>
  </div>
</body>
</html>
