<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
	<link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'commerce/css/index.css' %}" media="screen" title="no title"  charset="utf-8">
  <title>Document</title>
</head>
<body>
  <header>
		<a href="/user/home" class ="title"><h1>The Silk Road</h1></a>
    <a href="/logout" class = "label"><p>Logout</p></a>
    <a href="/user/account" class = "label"><p>Account</p></a>
    <a href="/user/cart" class = "label"><p>Cart</p></a>
    {%if request.session.account_type == 'merchant'%}
      <a href="/user/addproduct" class = "label"><p>Add Product</p></a>
    {%endif%}
    <p>Hello, {{request.session.first_name}}</p>
	</header>
	<div id="wrapper">
    <h6 class = "account">Account Type: {{request.session.account_type}}</h6>
		<div class="messages">
			{%if messages%}
				{%for message in messages%}
					<p>{{message}}</p>
				{%endfor%}
			{%endif%}
		</div>
    <h2>Current Products In Cart:</h2>
    <div class="products" align='center'>
			{%if products%}
				{%for products in products%}
        <div class="product">
          <img src="{{ products.image_link }}" alt="Image Not Found">
					<p><a href="/user/product/{{products.id}}">{{products.product_name}}</a></p>
        </div>
				{%endfor%}
			{%endif%}
		</div>
  </div>
</body>
</html>
