<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
  	<link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'commerce/css/productdetails.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Document</title>
  </head>
  <body>
    <header>
  		<a href="/user/home" class = "title"><h1>The Silk Road</h1></a>
      <a href="/logout" class = "label"><p>Logout</p></a>
      <a href="/user/account" class = "label"><p>Account</p></a>
      {%if request.session.account_type == 'merchant'%}
        <a href="/user/addproduct" class = "label"><p>Add Product</p></a>
      {%endif%}
      <p>Hello, {{request.session.first_name}}</p>
  	</header>
  	<div id="wrapper" align='center'>
  		<div class="messages">
  			{%if messages%}
  				{%for message in messages%}
  					<p>{{message}}</p>
  				{%endfor%}
  			{%endif%}
  		</div>
      <div class="product">
        <img src="{{ product.image_link }}" alt="Image Not Found">
        <p><strong>{{product.product_name}}</strong></p>
      </div>
      <div class="descrip">
        <h4>Sold By: {{product.seller.username}}</h4>
        <h4>Price: ${{product.price}}</h4>
        <h4>Weight: {{product.weight}}lb.</h4>
        <h4>Description: {{product.description}}</h4>
        <h4>Views: {{product.views}}</h4>
      </div>
  </div>
  </body>
</html>
